
#
# Bazel Configuration
#

import %workspace%/tools/bazel/base.bazelrc
import %workspace%/tools/bazel/cache.bazelrc
import %workspace%/tools/bazel/meta.bazelrc
import %workspace%/tools/bazel/native.bazelrc
import %workspace%/tools/bazel/rbe.bazelrc
import %workspace%/tools/bazel/ci.bazelrc
import %workspace%/tools/bazel/profiles/debug.bazelrc
import %workspace%/tools/bazel/profiles/release.bazelrc
import %workspace%/tools/bazel/profiles/dev.bazelrc
import %workspace%/tools/bazel/platform/docker.bazelrc
import %workspace%/tools/bazel/platform/macos.bazelrc
import %workspace%/tools/bazel/platform/linux.bazelrc
import %workspace%/tools/bazel/platform/graalvm.bazelrc
import %workspace%/tools/bazel/targets/android.bazelrc
import %workspace%/tools/bazel/targets/ios.bazelrc
import %workspace%/tools/bazel/targets/web.bazelrc

try-import %workspace%/.env.bazel.rc
